/* css stylesheet for webpages */

.mainbody { /* main paragraph content */
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 50px;
  padding-right: 10%;
  padding-left: 10%;
}

.header { /* headers */
  font-family: "Times New Roman", Times, serif; /* not final */
  font-size: 30px;
  line-height: 50px;
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 1.5%;
}

.graphs { /* graphs */
  border: 1px solid black
  height: 2px;
  width: 100px;
}

.titles {/* titles */
  font-family: "Times New Roman", Times, serif;
  font-size: 75px;
  line-height: 130px;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 3%;
  margin: auto;
  text-align: center;
}

.subtitles {/* subtitles */
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  line-height: 10px;
  padding-right: 30%;
  padding-left: 30%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}
