<!DOCTYPE html>
<html>
  <head>
    <title> Testing </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- js data variables -->
    <script>
      var age_data = {{ age_data }};
      var anx_data = {{ anx_data }};
    </script>
  </head>

  <body>
    This is testing_chart.html

    <!-- <div style="width: 800px;">
      <canvas id="myChart"></canvas>
    </div> -->

    <div>
      <canvas id="original"></canvas>
    </div>

    <div>
      <canvas id="line_chart"></canvas>
    </div>

    <script src="../static/js/testing_chart.js"></script>
  </body>
</html>
